{% extends 'base.html' %}
<!--  -->
{% block title %} Edit recipe {% endblock title %}
<!--  -->
{% block content %}
<main>
  <div>
    <h3>Edit {{ recipe.title }}</h3>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Save</button>
    </form>
  </div>
</main>
{% endblock content %}
