{% extends 'base.html' %}
<!--  -->
{% block title %} Recipes {% endblock title %}
<!--  -->
{% block content %}
<main>
  <div>
    <h2>Recipes</h2>
    {% for recipe in recipes %}
    <div>
      <h3>
        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
      </h3>
      <img src="{{ recipe.picture }}" alt="{{ recipe.title }}" />
      <p>Created on: {{ recipe.created_on|date:"F j, Y" }}</p>
      <p>Created by: {{ recipe.creator|default:"Anonymous" }}</p>
    </div>
    {% empty %}
    <p>There are no recipes.</p>
    {% endfor %}
  </div>
</main>
{% endblock content %}
