{% extends 'base.html' %}
<!--  -->
{% block title %} {{ recipe.title }} {% endblock title %}
<!--  -->
{% block content %}
<main>
  <div>
    <h2>{{ recipe.title }}</h2>
    <img src="{{ recipe.picture }}" alt="{{ recipe.title }}" />
    <p>{{ recipe.description }}</p>
    <table>
      <thead>
        <tr>
          <th>Amount</th>
          <th>Ingredient</th>
        </tr>
      </thead>
      <tbody>
        {% for item in recipe.ingredients.all %}
        <tr>
          <td>{{ item.amount }}</td>
          <td>{{ item.food_item }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if user == recipe.creator %}
    <p>Creator Tools</p>
    <nav>
      <ul>
        <li>
          <a href="{% url 'edit_recipe' recipe.id %}">Edit this recipe</a>
        </li>
      </ul>
    </nav>
    {% endif %}
  </div>
</main>
{% endblock content %}
