{% extends 'base.html' %}
<!--  -->
{% block title %} Login {% endblock title %}
<!--  -->
{% block content %}
<main>
  <div>
    <h3>Login</h3>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Login</button>
    </form>
  </div>
</main>
{% endblock content %}
