{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block title %} {% endblock title %}</title>
  </head>
  <header>
    <div>
      <ul>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'list_recipes' %}">Recipes</a>
        </li>
        <li>
          <a href="{% url 'my_recipe_list' %}">My recipes</a>
        </li>
        <li>
          <a href="{% url 'create_recipe' %}">Create a recipe</a>
        </li>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
          <a href="{% url 'signup' %}">Signup</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </header>
  <body>
    {% block content %} {% endblock content %}
  </body>
</html>
